**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea

**/bin
**/obj
**/TestResults
**/coverage
**/artifacts

**/*.user
**/*.suo
**/*.rsuser
**/*.userosscache
**/*.sln.docstates

**/*.nupkg
**/*.snupkg

README.md